@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>In this Web Page you will have access to a App to list all your favorite Church Movies.</p>
</div>
